// Colors
$color-default: #51ddfc;
$color-success: #58e1c1;
$color-error: #fd7856;
$color-warning: #ec9fa3;
$color-info: #deb2ee;

// Theme colors for grid
$color-theme-1: #927bc1;
$color-theme-2: #fd7856;
$color-theme-3: #deb2ee;
$color-theme-4: #7ee6fd;
$color-theme-5: #88d9a0;
$color-theme-6: #4da2bb;
$color-theme-7: #ec9fa3;
$color-theme-8: #fd9f85;
$color-theme-9: #e4757a;
$color-theme-10: #63cc82;
$color-theme-11: #51ddfc;
$color-theme-12: #80e8d1;

// Other colors
$color-text: #777;
$color-white: #fff;
$color-border: #ccc;

// Breakpoints
$media-query-break-sm: 768px;

